@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
}

div.App.container {
  padding: 0;
}

.App {
  margin-top: 3em;
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  border: 1px solid #666666;
  border-radius: .2em; 
}

.App h1 {
  font-family: 'Inter Tight';
  font-size: 36px;
  padding: 0.5em;
  margin-bottom: .5em;
  text-align: center;
  border-bottom: 1px solid #666666;
}

.stat-container {
  padding: 0em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  border-radius: 10px;  
}

.stat-score-two {
  margin-left: auto;
  margin-right: 2em;
  display: flex;
  justify-self: flex-start;
}

.correct-answer {
  margin-right: 1em;
  width: 50%;
  height: 50%;
  background: rgb(102, 210, 102);
  border: 1px solid green;
  border-radius: 100px;
  color: white;
  padding: 0.3em;
}

.incorrect-answer {
  background: #e03f3f;
  border: 1px solid red;
  border-radius: .3em;
  color: white;
  padding: 0.3em;
}

.questions-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  /* border: 1px solid green; */
}

.questions-container h3 {
  color: #161616;
  font-family: Inter Tight;  
  font-size: 1em;  
  font-style: normal; 
  font-weight: 500;  
  line-height: 1.5;
}

.questions-container div {
  display: flex;
  /* flex-direction: column; */
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
} 

.btn-options {
  text-align: left;
  font-family: Inter Tight;
  font-weight: 500;
  font-size: 14px;
  padding: 0.65em;
  border-radius: 5px;
  border: 1px solid #666;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}

.btn-next {
  margin: 1em 0 1em 1em;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  border: 1px solid #666;
  background: #171717;
  color: #FAFAFA;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}

.fa-arrow-right {
  margin-left: 1em;
}

.reset-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-container img {
  height: 120px;
  margin-bottom: 2em;
}

.btn-tryagain {
  margin-top: 1em;
  padding: 0.65em;
  width: 18%;
  border-radius: 5px;
  border: 1px solid #666;
  background: #fafafa;
  color: #161616;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}

.btn-tryagain:hover {
  border: 1px solid #666;
  background: #161616;
  color: #FAFAFA;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 45%;
}